<!-- <br>
<form class="search-bar form-inline">
  <input
    ng-model="input"
    class="form-control"
    type="text"
  />
  <br>
  <button class="btn" ng-click="searchBar(input)">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</form> -->

<form class="search-bar form-inline" name="query">
  <input ng-model="ctrl.data" name="query" type="text" class="form-control" placeholder="Search for games!">
  <br>
  <button ng-click="getGameData()" class="btn btn-default" type="submit">
    <span class="glyphicon glyphicon-search"></span>
  </button>
</form>
